tensorboardX>=2.1
fs>=2.4.13
python-dotenv>=0.10.1
Pillow>=6.0.0
dill>=0.3.4
perlin-noise>=1.7
tqdm>=4.61.1
pyyaml>=5.4.1
numpy
torch
torchaudio
onnx>=1.8.1
matplotlib
primesieve==2.2.0
librosa<0.10.0
scipy
