
{% set sees = ["recognize", "parse", "understand", "interpret", "comprehend", "decode", "make sense of", "grasp", "get", "figure out", "decipher", "make out", "discern", "apprehend", "see", "perceive", "read"] %}
{% set imgs = ["this image", "the image", "this", "these", "it", "the music sheet", "the sheet music", "this sheet music", "the score", "this score"] %}
{% set tos = ["as", "into", "in", "by", "with", "using"] %}
{% set paraves = ["paraff", "PARAFF", "Paraff", "paraff language", "Paraff language"] %}

{% set len1 = sees | length %}
{% set len2 = imgs | length %}
{% set len3 = tos | length %}
{% set len4 = paraves | length %}

{{ sees[i1 % len1] }} {{ imgs[i2 % len2] }} {{ tos[i3 % len3] }} {{ paraves[i4 % len4] }}
